body{
	
	height:100vh;
	justify-content:center;
	align-items: center;
	background: linear-gradient(90deg,#808080,#FFFFFF);
}
header{
    background-color: #333;
    padding: 50px;
    box-shadow: 0 0 0 3px #000;
}

header li{
    display: inline;
    padding-left: 45px;

}

header li a{
    color: rgb(252, 250, 250);
    text-decoration: none;
    padding:13px;
    transition: .3s ease;
}

header li a:hover{
    color:#ff7200}

header li #user{
        float: left;
        width: 20px;
}
    
header #login a{

    background-color:#ff7200;
    border-radius: 30px;
    float: left;
    position: relative;
    top: -15px;
    color: #000;
    

}

header ul #login a:hover
{
    background-color: #160d0d;
}

#logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Ariel;
    padding-left: 20px;
    float: right;
    padding-top: 10px;
}

.active{
    color: #ff7200;
}
div.main{
	max-width:500px;
	width:100%;
	background: #fff;
	padding:25px 30px;
	border-radious: 5px;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 50%;
    background-color: midnightblue;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
		background-color: #6271EC;
}